/* TEAM COLOR SYSTEM */

// Mercedes
.mercedes {
    color: $mercedes-500;
}
.mercedes-bg {
    background-color: $mercedes-100;
}

// Red Bull
.redBull {
    color: $red-bull-500;
}
.redBull-bg {
    background-color: $red-bull-100;
}

// Ferrari
.ferrari {
    color: $ferrari-500;
}
.ferrari-bg {
    background-color: $ferrari-100;
}

// McLaren
.mclaren {
    color: $mclaren-500;
}
.mclaren-bg {
    background-color: $mclaren-100;
}

// Alpine
.alpine {
    color: $alpine-500;
}
.alpine-bg {
    background-color: $alpine-100;
}

// Alpha Tauri
.alphaTauri {
    color: $alpha-tauri-500;
}
.alphaTauri-bg {
    background-color: $alpha-tauri-100;
}

// Aston Martin
.astonMartin {
    color: $aston-martin-500;
}
.astonMartin-bg {
    background-color: $aston-martin-100;
}

// Williams
.williams {
    color: $williams-500;
}
.williams-bg {
    background-color: $williams-100;
}

// Alfa Romeo
.alfaRomeo {
    color: $alfa-romeo-500;
}
.alfaRomeo-bg {
    background-color: $alfa-romeo-100;
}

// Haas
.haas {
    color: $haas-500;
}
.haas-bg {
    background-color: $haas-100;
}