.footer {
    padding: 50px 20px 30px 20px;
    background-color: $neutrals-900;
    box-shadow: $footer-shadow;
    position: relative;
    bottom: 0;

    .top {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .scrollup {
            background-color: $primary-600;

            &__icon {
                color: $neutrals-100;
                font-size: 12px;
                top: 8px;
            }
        }

        .logoFooter {
            width: 197px;
            height: 30px;
            object-fit: contain;
        }
    }

    &__section {
        margin-bottom: 40px;

        h3 {
            color: $neutrals-100;
            margin-bottom: 10px;
        }

        &__p,
        &__a {
            display: block;
            font-family: $secondary-font;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            color: $neutrals-100;
            margin-bottom: 7px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .socials {
        padding-bottom: 0;
    }

    &__line {
        border: none;
        background-color: $neutrals-100;
        height: 1px;
        width: 100%;
        margin-bottom: 30px;
        opacity: 25%;
    }

    .copyright {
        text-align: center;
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .footer {
        padding: 50px 50px 30px 50px;
    }
}

/* TABLET LANDSCAPE */
@media only screen and (min-width: $tablet-landscape) {
    .footer {
        .mobile {
            display: none;
        }

        .desktop {
            display: block !important;

            .top {
                margin-bottom: 50px;

                .logoFooter {
                    width: 324px;
                    height: 50px;
                }
            }

            .footer__sections {
                justify-content: flex-start;
                //gap: 113px;
                margin-bottom: 30px;

                //Simulate flex-gap
                > * + * {
                    margin-left: 113px;
                }

                .footer__section {
                    margin-bottom: 0;

                    h3 {
                        margin-bottom: 20px;
                    }

                    &__p {
                        margin-bottom: 10px;
                    }
                }
            }

            .bottom {
                justify-content: space-between;
                align-items: center;
            }
        }

        &__line {
            margin-bottom: 20px;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .footer {
        padding: 100px 120px 20px 120px;
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .footer {
        .flex {
            .footer__section {
                h3 {
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }
    }
}

/* DESKTOP 1600PX */
@media only screen and (min-width: $desktop-5) {
    .footer {
        padding: 100px 200px 20px 200px;
    }
}

/* DESKTOP 1920PX */
@media only screen and (min-width: $desktop-hd) {
    .footer {
        padding: 100px 360px 20px 360px;
    }
}

/* DESKTOP 2560PX */
@media only screen and (min-width: $desktop-qhd) {
    .footer {
        padding: 100px 680px 20px 680px;
    }
}

/* DESKTOP 3440PX */
@media only screen and (min-width: $desktop-wqhd) {
    .footer {
        padding: 100px 1120px 20px 1120px;
    }
}

/* DESKTOP 3840PX */
@media only screen and (min-width: $desktop-4k) {
    .footer {
        padding: 100px 1320px 20px 1320px;
    }
}
