.driver-team {
    border-radius: 20px;
    margin-bottom: 20px;
    filter: $card-shadow;
    overflow: hidden;

    &:last-of-type {
        margin-bottom: 0;
    }

    &:hover {
        .driver-team__img {
            img {
                transform: $zoom-small;
            }
        }
    }

    &__img {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
        overflow: hidden;

        img {
            transition: $transition-time-medium;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    &__content {
        padding: 20px;

        &__tag {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 15px;

            &__helmet-flag {
                width: 12px;
                height: 10px;
                object-fit: contain;
                margin-right: 7px;
            }
        }

        &__title {
            margin-bottom: 10px;
        }

        &__paragraph {
            margin-bottom: 20px;
        }
    }
}

/* LIGHT THEME COLORS */
[data-theme="light"] {
    .driver-team {
        background-color: $neutrals-200;
        border: 1px solid $neutrals-500;

        &__content {
            &__title {
                color: $neutrals-900;
            }

            &__paragraph {
                color: $neutrals-700;
            }
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .driver-team {
        background-color: $neutrals-900;

        &__content {
            &__title {
                color: $neutrals-100;
            }

            &__paragraph {
                color: $neutrals-500;
            }
        }
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
    .driver-team {
        &__img {
            //height: 309px;
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .driver-team {
        &__content {
            &__title {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}
