.slideshow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &__link {
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;

        &__img {
            border-radius: $border-radius-small;
        }
    }
}

/* TABLET LANDSCAPE */
@media only screen and (min-width: $tablet-landscape) {
    .slideshow {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .slideshow {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}