/* LIGHT THEME COLORS */
[data-theme="light"] {
    .driverPage {
        .moreRecentNews {
            background-color: $neutrals-200;
        
            .article {
                background-color: $neutrals-100;

                .button {
                    background-color: $neutrals-900;
                }

                .icon-bg {
                    background-color: $neutrals-900;
                }
            }
        }

        .recentShots {
            background-color: $neutrals-200;
        }
    
        .mightAlsoLike {
            background-color: $neutrals-100;

            .driver-team {
                background-color: $neutrals-200;

                .button {
                    background-color: $neutrals-900;
                }
            }
        }
    }
}

/* DARK THEME COLORS */
[data-theme="dark"] {
    .driverPage {
        .moreRecentNews {
            background-color: $neutrals-800;
        
            .article {
                background-color: $neutrals-900;

                .button {
                    background-color: $neutrals-800;
                }

                .icon-bg {
                    background-color: $neutrals-800;
                }
            }
        }

        .recentShots {
            background-color: $neutrals-800;
        }
    
        .mightAlsoLike {
            background-color: $neutrals-900;

            .driver-team {
                background-color: $neutrals-800;

                .button {
                    background-color: $neutrals-900;
                }
            }
        }
    }
}